<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>carry</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.carry.app</string>
        </dict>
    </array>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>Carry adds your trips and a pack reminder to your calendar so you never miss a departure.</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>HandDrawn</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>HandDrawn</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconLight</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconLight</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconDark</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconDark</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconBlue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconBlue</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconOrange</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconOrange</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconButter</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconButter</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconGreen</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconGreen</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconPink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconPink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconPride</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconPride</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>IconSoft</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconSoft</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
